<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="view.css">
    <title>view book page</title>
</head>
<body>
    <main class="container">
        <div class="book-banner">
            <div id="book-image">
                
            </div>
            <div class="text-container">
                <h2 id="bookName"></h2>
                <p id="bookDesc"></p>
                <div class="book-desc">
                    <p>Author: <span id="author"></span></p>
                    <p>Created at: <span id="date"></span></p>
                </div>
            </div>
        </div>

    </main>

    <script type="module" src="./view.js"></script>
</body>
</html>